---
layout: default_zh
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title_zh }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">学术研究</h1>
      {% if site.plainwhite.search %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts" placeholder="Search here">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %}
    </li>

    {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.plainwhite.date_format_zh | default: "%b %-d, %Y" -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <!-- <div class="post-meta"> -->
          <!-- {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%} -->
        <!-- </div> -->
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
        <div class="post-date">
          <i class="icon-calendar"></i>
          {{ post.date | date: date_format }}更新
        </div>
      </li>
    {%- endfor -%}
  </ul>

  <!-- <svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg></p> -->
  <p class="feed-subscribe" style="text-align:center;margin-top:50px"><a href="{{ "/feed.xml" | relative_url }}"><i class="icon-rss"></i>Subscribe</a></p>
{%- endif -%}
